# Directus CMS URL (público, no necesita token)
NEXT_PUBLIC_DIRECTUS_URL=https://directus.viscocity.com.co

# Puerto expuesto por el contenedor en el host
PORT=3000

# Nombre único del contenedor e imagen
CONTAINER_NAME=viscocity-landing
IMAGE_NAME=viscocity-landing

# Nombre del proyecto Docker Compose
COMPOSE_PROJECT_NAME=viscocity-landing
